<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264681942893-amefpqg17r2ktri6juf4ff6dmll1p9g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264681942893-amefpqg17r2ktri6juf4ff6dmll1p9g0</string>
	<key>API_KEY</key>
	<string>AI_abcdefgAI_abcdefgAI_abcdefgAI_abcdef</string>
	<key>GCM_SENDER_ID</key>
	<string>264681942893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basecleanflutter.dev</string>
	<key>PROJECT_ID</key>
	<string>base-flutter-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>base-flutter-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264681942893:ios:0e0f480c055059015fb464</string>
</dict>
</plist>